video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#modal-root {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
#modal-secondRoot {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
